/* ============================== MyOrder.js ===========================  */

/* main container of the page */
.mainContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

/* heading of the page */
.orderHeading {
    color: #000000;
}

/* list of all the order's in user's database */
.orderListContainer {
    width: 75%;
}

.mainContainer a {
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 700;
    color: #000000;
}


/* ================================ OrderList.js ========================== */


/* single order container */
.orderListContainer>div {
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}


/* table inside the order list */
table {
    width: 100%;
    font-weight: 600;
    border-collapse: collapse;
    color: #000000;
}

/* table's cell style */
th,
td {
    border: 2px solid #000000d6;
}
